.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.textContainer {
  width: 60%;
}

.photo {
  border-radius: 15px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0 0 20px 3px var(--color2);
  -moz-box-shadow: 0 0 20px 3px var(--color2);
  box-shadow: 0 0 20px 3px var(--color2);
  background-size: cover;
  background-position: center;
  max-width: 440px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  .textContainer {
    width: 100%;
  }
}
