.container {
  display: flex;
  gap: 100px;
}
.textContainer {
  width: 60%;
}
.photoContainer {
  width: 40%;
  height: auto;
}
.photo {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0 0 20px 3px var(--color2);
  -moz-box-shadow: 0 0 20px 3px var(--color2);
  box-shadow: 0 0 20px 3px var(--color2);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.blurLoad {
  background-size: cover;
  background-position: center;
}
.blur {
}
