.langToggle {
  /* position: absolute; */
  right: 100px;
  flex-direction: column;
  padding: 8px 0;
}

.langToggle button {
  width: 60px;
  padding: 3px 15px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color1);
  background-color: var(--color2);
  border: none;
  border-radius: 25px;
  transition: background-color 0.4s;
}

.langToggle button:active {
  background-color: var(--color2-active);
}
