.langToggle {
  right: 100px;
  flex-direction: column;
  padding: 14px 0;
  line-height: normal;
}

.langToggle button {
  width: 70px;
  padding: 4px 15px 3px;
  font-size: 20px;
  font-weight: 600;
  line-height: .8;
  cursor: pointer;
  color: var(--color1);
  background-color: var(--color2);
  border: none;
  border-radius: 25px;
  transition: background-color 0.4s;
}

.langToggle button:active {
  background-color: var(--color2-active);
}
