.formContainer {
  flex-wrap: wrap;
  color: var(--color1);
  max-width: 320px;
  min-height: 320px;
  padding: 20px;
  background-color: var(--color2);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px 3px var(--color2);
  -moz-box-shadow: 0 0 20px 3px var(--color2);
  box-shadow: 0 0 20px 3px var(--color2);
  min-width: 380px;
  width: 100%;
}
.formHeader {
  margin-bottom: 25px;
}
.formGroup {
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  cursor: pointer;
  width: 85%;
  padding: 10px 0 10px 10px;
  border: 1px solid var(--color2-active);
  background-color: var(--color1-active);
  border-radius: 7px;
}
.submitBtn Button {
  color: var(--color1);
  font-weight: 600;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--color1);
  background-color: var(--color1-active);
  color: var(--color2);
}
input:valid {
  background-color: var(--color1-active);
  color: var(--color2);
}

.popup {
  display: flex;
  color: var(--color2-active);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(95, 95, 95, 0.904);
  padding: 20px;
  border: 0.1px solid rgba(95, 95, 95, 0.904);
  border-radius: 7px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  /* z-index: 1000; */
}

.popup button {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  background-color: var(--color2);
  color: var(--color1);
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.popup button:hover {
  background-color: var(--color2-active);
}
