a {
  color: var(--color2);
  border-bottom: 2px solid;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.header-container {
  color: var(--color2);
  display: flex; /* Используем Flexbox */
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: center; /* Центрирование по горизонтали */
  height: 100vh; /* Занимает всю высоту экрана */
}

.header-buttons {
  position: fixed;
  color: var(--color2);
  margin-bottom: 20px; /* Отступ между кнопками и контентом */
}
.content {
  max-width: 1440px;
  padding-top: 60px;
}
