a {
  color: var(--color2);
  border-bottom: 2px solid;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

.header-container {
  color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header-buttons {
  position: fixed;
  color: var(--color2);
  margin-bottom: 20px;
}
.content {
  padding-top: 60px;
}
