/* +++ < 768 +++ */

.underDevelopement {
  display: none;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 768px) {
  .underDevelopement {
    display: block;
  }
}

/* --- < 768 --- */

/* +++ > 768 +++ */

.desktopUnderDevelopement {
  display: none;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}

@media (min-width: 768px) {
  .desktopUnderDevelopement {
    display: block;
  }
}

/* --- > 768 --- */

.tester {
  font-weight: 300;
  margin: 100px 0;
  text-align: center;
}
