.skillsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.skillsList li h2 {
  width: 220px;
  font-size: 30px;
  transition: .3s ease;
  cursor: pointer;
}
.skillsList li h2:hover, .skillsList li h2:focus {
margin-left: 30px;
}

.skillsText {
  max-width: 70%;
  text-align: center;
}
