.skillsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.skillsList li h2 {
  width: 260px;
  font-size: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}
.skillsList li h2:hover,
.skillsList li h2:focus {
  padding-left: 25px;
  padding-bottom: 10px;
}

.skillsText {
  max-width: 68%;
  text-align: center;
}
