.skillsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.skillsList li h2 {
  line-height: .8;
  padding: 10px 10px 10px 0;
  width: 205px;
  font-size: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}
.skillsList li h2:hover,
.skillsList li h2:focus {
  padding: 0 0 20px 25px;
}

.skillsText {
  max-width: 70%;
  text-align: center;
}
