.contactsContainer {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contactsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  max-width: 940px;
  gap: 30px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.contactsFormWrapper,
.contactsContentWrapper {
  display: inline-block;
  margin-bottom: 40px;
}

/* @media (max-width: 440px) {
  .contactsFormWrapper {
    max-width: 100%;
  }
} */

a {
  margin-bottom: 34px;
  color: var(--color2);
  position: relative;
  text-decoration: none;
  transition: color 0.5s ease;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color2);
  transform: scaleX(0);
  transform-origin: left;
  transition:
    transform 0.5s ease,
    height 0.5s ease,
    background-color 0.5s ease;
}

a:hover::after {
  transform: scaleX(1);
}

a:active::after {
  background-color: var(--highlight-color);
}

a:active {
  color: var(--highlight-color);
}
