.contactsContainer {
  align-items: center;
  justify-content: center; /* Это выровняет содержимое по горизонтали */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contactsWrapper {
  display: flex; /* Устанавливаем flexbox для внутренних элементов */
  justify-content: space-between; /* Распределяет элементы по горизонтали */
  align-items: top; /* Центрирует элементы по вертикали */
  width: 100%; /* Убедимся, что wrapper занимает всю доступную ширину */
  max-width: 940px; /* Добавим максимальную ширину для контейнера */
  gap: 30px;
  flex-wrap: wrap;
}

.contactsFormWrapper,
.contactsContentWrapper {
  display: inline-block;
}

/* Для случая, когда элементы переходят на новую строку */
@media (max-width: 1011px) {
  .contactsFormWrapper {
    margin-bottom: 40px;
  }
  .contactsWrapper {
    max-width: 420px;
  }
  .contactsContentWrapper {
    width: 100%; /* На мобильных устройствах они занимают всю ширину */
    text-align: center; /* Центрируем содержимое внутри блоков */
  }
}

@media (max-width: 440px) {
  .contactsFormWrapper {
    max-width: 100%;
  }
}
a {
  margin-bottom: 34px;
  color: var(--color2);
  position: relative;
  text-decoration: none;
  transition: color 0.5s ease; /* Плавный переход цвета */
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color2);
  transform: scaleX(0);
  transform-origin: left;
  transition:
    transform 0.5s ease,
    height 0.5s ease,
    background-color 0.5s ease;
}

a:hover::after {
  transform: scaleX(1);
}

a:active::after {
  background-color: var(--highlight-color); /* Меняем цвет на при нажатии */
}

a:active {
  color: var(--highlight-color); /* Меняем цвет текста при нажатии */
}
