.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
