:root {
  --color1: #111;
  --color1-active: #3b3b3b;
  --color2: #d1ffd4c7;
  --color2-active: #92d896c7;
  --color3: #0efcd4a1;
  --color3-active: #92d896c7;
}

.container {
  width: 100%;
  color: var(--color2);
  height: 100%;
}

.main-wrapper {
  width: 100%;
  max-height: 120vh;
  overflow: hidden;
}

.video {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 115vh;
}
#root {
  padding: 0 70px;
}
