:root {
  --color1: #222;
  --color2: #d1ffd4c7;
  --color3: #9771dd96;
  --color4: #;
}

.container {
  padding: 15px 30px;
  background-color: var(--color1);
  color: var(--color2);
  min-height: 100vh;
  overflow: hidden;
}
.video {
  min-width: 120vw;
}
