:root {
  --color1: #222;
  --color1-active: #3b3b3b;
  --color2: #d1ffd4c7;
  --color2-active: #92d896c7;
  --color3: #5e10f0cc;
  --color3-active: #92d896c7;
  --color4: #;
}

.container {
  padding: 15px 0px;
  background-color: var(--color1);
  color: var(--color2);
  overflow: hidden;
  width: 100%;
}

.main-wrapper {
  width: 100%;
  height: max-content;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  z-index: 1;
  min-height: 100%;
  overflow: hidden;
}
